<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="http://localhost:8090">
    <input type="submit" value="Back to main page" />
</form>
<table th:border="1">
    <thead>
    <tr>
        <th> Номер приказа </th>
        <th> Основание приказа </th>
        <th> Тип </th>
        <th> Текст </th>
        <th> Примечания </th>
        <th> Дата </th>
        <th> Номер группы приказов </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${entities.isEmpty()}">
        <td colspan="2"> No Instruction Available </td>
    </tr>
    <tr th:each="entity : ${entities}">
        <td><span th:text="${entity.getNumber()}"/></td>
        <td><span th:text="${entity.getInstructionBasis().getValue()}"/></td>
        <td><span th:text="${entity.getInstructionType().getValue()}"/></td>
        <td><span th:text="${entity.getPayload()}"/></td>
        <td><span th:text="${entity.getNotes()}"/></td>
        <td><span th:text="${entity.getDate}"/></td>
        <td><span th:text="${entity.getInstructionGroup() == null ? 'Отсутствует' : entity.getInstructionGroup().getNumber()}"/></td>
    </tr>
    </tbody>
</table>
</body>
</html>